global_defs {
    router_id {{ inventory_hostname }}
}

vrrp_instance VI_1 {
    state {{ keepalived_state }}
    interface {{ keepalived_interface }}
    virtual_router_id {{ keepalived_virtual_router_id }}
    priority {{ keepalived_priority }}
    advert_int 1

    authentication {
        auth_type PASS
        auth_pass {{ vault_keepalived_auth_pass }}
    }

    virtual_ipaddress {
        {{ vip_address }}/{{ vip_prefix }} dev {{ keepalived_interface }}
    }
}
